   <nav class="navbar">
     <!-- LOGO -->
     <div class="logo"> <a href="/" style="text-decoration: none; color:rgb(220, 108, 108)"  >Marvel</a></div>

    <input type="text" name="" id="search">
      <div>
 </div>
     <!-- NAVIGATION MENU -->
     <ul class="nav-links" type = "none">
       <!-- USING CHECKBOX HACK -->
       {{!-- <input type="checkbox" id="checkbox_toggle" /> --}}
       {{!-- <label for="checkbox_toggle" class="hamburger">&#9776;</label> --}}
       <!-- NAVIGATION MENUS -->
       <div class="menu">
         <li ><a style="text-decoration: none; color:white" href="/">Home</a></li>
         <li><a style="text-decoration: none; color:white" href="/">About</a></li>
         <li class="services">
           <a style="text-decoration: none; color:white" href="/">Services</a>
           <!-- DROPDOWN MENU -->
           <ul class="dropdown">
             <li><a style="text-decoration: none; color:white" href="/">Iron man</a></li>
             <li><a href="/">Spider man</a></li>
             <li><a href="/">Ant man</a></li>
             <li><a href="/">Hulk</a></li>

           </ul>
         </li>
         <li><a style="text-decoration: none; color:white" href="/register">Register</a></li>
         <li><a style="text-decoration: none; color:white" href="/login">Login</a></li>
       </div>
     </ul>
   </nav>